<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myway.video.maker.libcameraview">

    <!-- camera v1 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application android:label="@string/app_name">

    </application>

</manifest>
